.header {
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

.form {
    position: relative;
}

.input {
    width: 100%;
    padding-left: 2.2em;
}

.icon {
    position: absolute;
    left: 10px;
    top: 13px;

    background: transparent;
    border: none;
    padding: 0;
    margin: 0;

    color: #646cff;
    cursor: pointer;
}

.icon:hover {
    color: #8b90ff;
}

.icon:focus {
    outline: none;
}